.allure/
.gradle/
.idea/
.kotlintest/
*.jar
out/
build/
logs/
!gradle/wrapper/gradle-wrapper.jar
!docs/gradle/wrapper/gradle-wrapper.jar
# kotlin-language-server
kls_database.db

# FIXME remove when Gradle Daemon JVM can be auto-provisioned - see configureGradleDaemonJvm()
gradle/gradle-daemon-jvm.properties
