site:
  theme: Copper
  baseUrl: http://localhost:8080
  about:
    siteName: kotlin-faker
    siteDescription: |-
      kotlin-faker is a data-generation library intended for use during development and testing,
      as well as for data-anonymization purposes.
      It generates realistically looking fake data such as names, addresses, banking, internet details, and many more.
    social:
      other:
        - link: '/kotlin-faker'
          label: 'Home'
          icon: 'fas fa-home'
          buttonColor: 'dark'
        - label: 'GitHub'
          icon: 'fab fa-github'
          link: 'https://github.com/serpro69/kotlin-faker/'
          buttonColor: 'dark'

theme:
  primaryColor: '#7E80CF'
  bannerColor: '#444444'
  linkColor: '#7E80CF'
  infoColor: '#A97BFF'

  colors:
    purple: '#7E83C4'
    green: '#7EB394'
    black: '#444444'
  palette:
    primary: 'PURPLE'
    link: 'PURPLE'
    secondary: 'GREEN'
    linkVisited: 'GREEN'

  extraCss:
    - asset: 'assets/css/bulma.min.css'
      download: false
    - asset: 'assets/css/extras.scss'
      download: false
    - asset: 'assets/css/homepage.scss'
      download: false
    - asset: 'assets/css/plugins.scss'
      download: false
    - asset: 'https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css'
      download: true
  extraJs:
    - "assets/js/simpleFilter.js"

  menu:
    - type: 'page'
      title: 'Home'
      itemId: 'home'
      icon: 'home'
    - type: 'wiki'
      icon: 'graduation-cap'
      asSubmenu: true
      submenuTitle: 'User Guide'
    - type: 'submenu'
      title: 'API'
      icon: 'book'
      menu:
        - type: 'sourcedocModules'
          moduleType: 'kotlindoc'
          moduleGroup: 'core'
    - type: 'submenu'
      title: 'Information'
      icon: 'info-circle'
      menu:
        - type: 'page'
          title: 'About'
          itemId: 'About'
        - type: 'page'
          itemId: 'Changelog'
        - type: 'page'
          title: 'Contributing'
          itemId: 'Contributing'
        - type: 'page'
          title: 'Faker Comparisons'
          itemId: 'Faker Comparisons'
        - type: 'page'
          title: 'License'
          itemId: 'License'
        - type: 'page'
          title: 'Thanks'
          itemId: 'Ack'
  metaComponents:
    - type: 'orchidSearch'
      extraCss:
        - 'assets/css/orchidSearch.scss'
    - type: 'prism'
      theme: 'tomorrow'
#      scriptsOnly: 'true'
      extraCss:
        - 'assets/css/prism-duotone.css'
      languages:
        - clike
        - markup-templating
        - kotlin
        - java
        - groovy
        - yaml
        - yml
        - asciidoc
        - markdown
        - twig
        - xml

services:
  publications:
    stages:
      - type: githubPages
        branch: gh-pages
        username: serpro69
        repo: kotlin-faker

kotlindoc:
  # Uncomment `homePageOnly` line to temporarily disable Kotlin docs generation and only
  #   generate module homepages. Dokka takes a few seconds to start up, which
  #   makes rapid iteration a bit painful, so it may be helpful to disable it
  #   when making changes to the site.
  homePageOnly: true
  homePagePermalink: 'modules/:module'
  sourcePagePermalink: ':moduleType/:module/:sourceDocPath'
  sourcePages:
    menu:
      - type: 'sourcedocPageLinks'
        itemTitleType: 'signature' # optional, one of [NAME, ID, SIGNATURE]
        includeItems: true # optional
  modules:
    - name: 'Core API'
      slug: 'core'
      sourceDirs:
        - './../../../../core/src/main/kotlin/'
        - './../../../../core/src/main/java/'
      moduleGroup: 'core'

snippets:
  sections:
    - tags: [ 'code_snippets' ]
      adapter:
        type: 'embedded'
        baseDirs:
          - '../../../../core/src/main/resources/locales/en/'
          - '../../../../core/src/test/kotlin/'
          - 'snippets'
        recursive: true
        startPattern: '^.*?[//|#].*?START(.+?)$'
        endPattern: '^.*?[//|#].*?END(.+?)$'
        patternNameGroup: 1

changelog:
  adapter:
    type: "file"
    baseDir: "../../../../"
