.md-typeset__table {
  min-width: 100%;
}

@media only screen and (min-width: 768px) {
  td:nth-child(1) {
    white-space: nowrap;
  }
}

@font-face {
  font-family: IBMPlexSans-Regular;
  src: url("typography/IBMPlexSans-Regular.otf");
}

@font-face {
  font-family: IBMPlexSans-Bold;
  src: url("typography/IBMPlexSans-Bold.otf");
}

.IBMPlexSans-Regular {
  font-family: IBMPlexSans-Regular;
}

.IBMPlexSans-Bold {
  font-family: IBMPlexSans-Bold;
}

* {
  --md-text-font: "IBMPlexSans-Regular";
}

/*
markdown and image alignment
ALT tag and a CSS selector on the alt tag
*/
img[src*="#left"] {
  float: left;
}
img[src*="#right"] {
  float: right;
}
img[src*="#center"] {
  display: block;
  margin: auto;
}

/*
Tables set to 100% width
*/
.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

/*
Footer social media icons:
set the size of the svg icons and the espace between them.
*/
.md-social__link {
  width: 2rem;
}
.md-social__link svg {
  max-height: 1.6rem;
}
