{% extends "base.html" %}

{% block content %}
<style>
.md-back {
  display: block;
  margin-inline-start: 50%;
  font-size: 1.2em;
  color: var(--md-default-fg-color--light);
  cursor: pointer;
  background-color: var(--md-default-bg-color);
  border-radius: 32px;
  outline: none;
  box-shadow: var(--md-shadow-z2);
  transition:
    color            125ms,
    background-color 125ms,
    transform        125ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity          125ms;

  @media print {
    display: none;
  }

  &:is(:focus, :hover) {
    color: var(--md-accent-bg-color);
    background-color: var(--md-accent-fg-color);
  }

  svg {
    display: inline-block;
    vertical-align: -0.5em;
  }
}
</style>

<!-- disable on localhost for faster reloads -->
{% if not '127.0.0.1' in config.site_url %}
{{ page.content }}
{% endif %}

<br>

<div>
  <button
    type="button"
    onclick="location.href='{{ page.meta.base_uri }}wiki/data-providers/#{{ page.meta.faker }}-faker'"
    class="twemoji md-back md-icon">
    {% include ".icons/material/arrow-left.svg" %} Back to generators page
  </button>
</div>

{% endblock %}
