name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1.0.4
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean test integrationTest build nativeImage
      - name: Test native image
        run: |
          _app_path=$(find ./cli-bot/build/graal -type f -name faker-bot\*)
          mv "$_app_path" ./faker-bot
          ./faker-bot list --verbose >/dev/null || false
          ./faker-bot lookup a --verbose >/dev/null || false


