name: Deploy Docs

on:
  workflow_dispatch:
    inputs:
      orchid_diagnose:
        description: Sets 'orchidDiagnose' property
        type: choice
        required: false
        default: 'false'
        options:
          - 'true'
          - 'false'
  push:
    branches:
      - master

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      docs: ${{ steps.filter.outputs.docs }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docs:
              - 'docs/**'
              - 'CHANGELOG.adoc'
              - 'CONTRIBUTING.adoc'
              - 'LICENSE.adoc'
              - 'README.md'
              - 'prepare-dicts-for-docs.sh'

  deploy-docs:
    needs: changes
    if: ${{ needs.changes.outputs.docs == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # we need jdk >= 11 to be able to configure cli-bot module due to graal plugin requirements
      # at the same time using jdk 17 fails with 'module java.base does not "opens java.lang" to unnamed module' error
      # more details in CONTRIBUTING
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
      - name: Deploy Docs
        run: make deploy-docs
        env:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          ORCHID_DIAGNOSE: ${{ github.event.inputs.orchid_diagnose }}
